.list {
  display: flex;
  height: 100%;
}

.link {
  display: grid;
  place-items: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1.5rem 1rem;
  transition: all 400ms;
  border-bottom: 2px solid transparent;
  height: 100%;
}

.link:hover {
  opacity: 0.5;
}

.selected {
  border-bottom: 2px solid var(--color-green);
}
