/* Raleway: 300, 400, 500 */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
/* Robot Condensed: 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
/* Source Sans Pro: 400 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --color-bg: #ffffff;
  --color-text: #08090a;
  --color-green: #3bdf72;
  --color-dark-green: #32b75e;
  --color-dark: #1d1f22;
  --color-shadow: #39374838;
  --color-hover: #d6d0d058;
  --font-body: "Raleway", sans-serif;
  --font-roboto: 'Roboto Condensed', sans-serif;
  --scrollbar-width: 4px;
}

body {
  padding: 0 7%;
  font-size: 16px;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Media defaults */
img,
svg {
  max-width: 100%;
  max-height: 100%;
}

/* Remove built-in form typography styles */
button {
  font: inherit;
}

main {
  padding: 0 var(--horizontal-padding);
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
}

*::-webkit-scrollbar-track {
  background-color: #f0f1f3;
}